RHT_OCP4_MASTER_API=https://api.ap45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ap45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ap45.prod.nextcle.com
RHT_OCP4_DEV_USER=ysouiti00
RHT_OCP4_DEV_PASSWORD=c4399435ca0c473db14a
RHT_OCP4_GITHUB_USER=ysouiti00
RHT_OCP4_QUAY_USER=ysouiti00
