RHT_OCP4_MASTER_API=https://api.eu45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ap45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ap45.prod.nextcle.com
RHT_OCP4_DEV_USER=ysouiti00
RHT_OCP4_DEV_PASSWORD=f2bd05f41bde4dc3a7ab
RHT_OCP4_GITHUB_USER=ysouiti00
RHT_OCP4_QUAY_USER=ysouiti00
